## election_data

In [1]:
import pandas as pd

In [2]:
file_path = r"C:\Users\Hank\Richmond Bootcamp\Resources\election_data.csv"
election_df = pd.read_csv(file_path)

In [3]:
# show election_df header
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
# show election_df column titles
election_df.columns

Index(['Voter ID', 'County', 'Candidate'], dtype='object')

In [5]:
# calculate total votes
total_votes = election_df["Voter ID"].count()
total_votes

3521001

In [6]:
# group data by Candidate to calculate requested values
election_df_grouped = election_df.groupby(["Candidate"])

In [7]:
# calculate total votes
cand_votes = election_df_grouped["Voter ID"].count()
cand_votes

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Voter ID, dtype: int64

In [8]:
# calculate percentage of total votes by candidate
cand_percent = cand_votes/total_votes
cand_percent

Candidate
Correy      0.20
Khan        0.63
Li          0.14
O'Tooley    0.03
Name: Voter ID, dtype: float64

In [9]:
# display election summary table
election_summary = pd.DataFrame({"Total Votes":[total_votes]})
election_summary

   Total Votes
0      3521001

In [10]:
# apply formatting to election summary table
election_summary["Total Votes"] = election_summary["Total Votes"].map("{:,}".format)
election_summary

  Total Votes
0   3,521,001

In [11]:
# create data frame displaying requested values
elect_sum_cand = pd.DataFrame({"Percent of Vote":cand_percent,"Candidate Total Votes":cand_votes})
elect_sum_cand

           Percent of Vote  Candidate Total Votes
Candidate
Correy                0.20                 704200
Khan                  0.63                2218231
Li                    0.14                 492940
O'Tooley              0.03                 105630

In [13]:
# elect_sum_cand dtypes were object, which won't allow .max calc - convert "Cand Tot Votes" to numeric
elect_sum_cand["Candidate Total Votes"]=pd.to_numeric(elect_sum_cand["Candidate Total Votes"])

In [14]:
# check dtypes
elect_sum_cand.dtypes

Percent of Vote          float64
Candidate Total Votes      int64
dtype: object

In [16]:
# use idxmax() method to display winner's name
cand_votes_max = elect_sum_cand["Percent of Vote"].idxmax()
cand_votes_max

'Khan'

In [17]:
# display results in dataframe
election_winner = pd.DataFrame({"Election Winner":[cand_votes_max]})
election_winner

  Election Winner
0            Khan

In [12]:
# sort the table, descending based on total candidate votes
elect_sum_cand_sorted = elect_sum_cand.sort_values("Candidate Total Votes",ascending=False)
elect_sum_cand_sorted

           Percent of Vote  Candidate Total Votes
Candidate
Khan                  0.63                2218231
Correy                0.20                 704200
Li                    0.14                 492940
O'Tooley              0.03                 105630

In [14]:
# apply formatting to the sorted table
elect_sum_cand_sorted["Percent of Vote"] = elect_sum_cand_sorted["Percent of Vote"].map("{:.2%}".format)
elect_sum_cand_sorted["Candidate Total Votes"] = elect_sum_cand_sorted["Candidate Total Votes"].map("{:,}".format)
elect_sum_cand_sorted

          Percent of Vote Candidate Total Votes
Candidate
Khan               63.00%             2,218,231
Correy             20.00%               704,200
Li                 14.00%               492,940
O'Tooley            3.00%               105,630

## Election Summary:

In [26]:
election_summary

  Total Votes
0   3,521,001

In [15]:
elect_sum_cand_sorted

          Percent of Vote Candidate Total Votes
Candidate
Khan               63.00%             2,218,231
Correy             20.00%               704,200
Li                 14.00%               492,940
O'Tooley            3.00%               105,630

In [18]:
election_winner

  Election Winner
0            Khan